<div class="row">
  <div class="card col col-sm col-xs" *ngFor="let m of words">
    <div class="alert alert-primary">
      <div class="card-body">
        <h5 class="card-title">Word: {{m.word}}</h5>
        <div *ngFor="let l of m.lexicalEntries ">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <b>{{l.lexicalCategory.text}}</b>
              </div>
              <div class="col-sm-8">
                <div *ngFor="let p of l.pronunciations">
                  <p>{{p.phoneticNotation}} -> {{p.phoneticSpelling}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h5>Senses:</h5>
              </div>
              <div class="col-sm-8">
                <div *ngFor="let ent of l.entries">
                  <div *ngFor="let s of ent.senses">
                    <b>Definition:</b>
                    <div *ngFor="let a of s.definitions">{{a}}</div>
                    <b> Examples:</b>
                    <div *ngFor="let x of s.examples">{{x.text}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>


