/* You can add global styles to this file, and also import other style files */
/*@import url(https://bootswatch.com/4/lux/bootstrap.min.css);*/
/*@import url(https://bootswatch.com/4/cyborg/bootstrap.min.css);*/
/*@import url(https://bootswatch.com/4/darkly/bootstrap.min.css);*/
@import url(https://bootswatch.com/4/materia/bootstrap.min.css);
/*@import url(https://bootswatch.com/4/minty/bootstrap.min.css);*/

